# required options

site_ip=192.168.1.1; // ip of site
site_port=11000; // port of site
listen_port=11000; // listen port from entry
cert_path=ftpd-dsa.pem; // path to certificate file

# optional options (remove to use default value)
entries=; // if set, only these ips are allowed to connect (split with ',')
idnt_request=1; // request ident from connecting users
idnt_command=1; // send IDNT command to site
connect_ip=; // bind to this ip for outgoing connections
listen_ip=127.0.0.1; // bind listenport to this ip
pidfile=; // if set a file containing the pid is created (only on linux)
buffersize=1048576; // internal buffersize in bytes
sndrcvbufsize=625000; // tcp send and receive socket buffer size
ipfordata=0; // always use site ip for data connects (useful when using nat and site reports internal ip for data transfers)
addtopasvport=0; // bnc uses port number reported from site for pasv transfers - add this number to shift port range (can be negative)
delay=5; // delay in ms after EAGAIN error
retrycount=15; // how many retries for EAGAIN errors
natpasvip=; // when using bnc with dynamic ip enter dyn host here (leave listen_ip blank then)
checkforip=1; // if set, site reply is checked for site ip and connection is dropped if found (just to make sure site ip is not posted to clients)
logFile=; // if set (and compiled as debug) some log messages are written to file
logToScreen=0; // if set (and compiled as debug) bnc is not started to background and debug messages are printed on screen

# format of options is name=value;
# no spaces etc and don't forget the ';'